@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  @apply h-full;
}
body,
#app {
  @apply h-full bg-white dark:bg-zinc-900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
